.bin
DreamSlayer Jam\DreamSlayer\obj
.obsidian
DreamSlayer Jam\DreamSlayer\bin
DreamSlayerV2\obj
DreamSlayerV2/bin
DreamSlayerV2/obj/Release
DreamSlayerV2/obj
.vs/Dg225-Team10_Project_Lobotomy
.vs/slnx.sqlite
