.bin
DreamSlayer Jam\DreamSlayer\obj
.obsidian
DreamSlayer Jam\DreamSlayer\bin
DreamSlayerV2\obj
DreamSlayerV2/obj/Debug/net9.0/DreamSlayerV2.AssemblyInfo.cs
DreamSlayerV2/obj/Debug/net9.0/DreamSlayerV2.AssemblyInfoInputs.cache
