.bin
DreamSlayer Jam\DreamSlayer\obj
.obsidian
DreamSlayer Jam\DreamSlayer\bin
DreamSlayerV2\obj
DreamSlayerV2/obj/Debug/net9.0/DreamSlayerV2.AssemblyInfo.cs
DreamSlayerV2/obj/Debug/net9.0/DreamSlayerV2.AssemblyInfoInputs.cache
DreamSlayerV2/obj
DreamSlayerV2/obj
.vs/Dg225-Team10_Project_Lobotomy/FileContentIndex/36500dd1-b789-4534-9001-946a67402059.vsidx
.vs/Dg225-Team10_Project_Lobotomy/FileContentIndex/1ea8c271-1856-4396-844c-7b8bba4b8fd6.vsidx
.vs/Dg225-Team10_Project_Lobotomy/FileContentIndex/1c601226-45bc-46c6-9f25-68d6f71576a6.vsidx
.vs/Dg225-Team10_Project_Lobotomy/FileContentIndex/dc4ccc3d-5a0c-4eab-a943-893f0b12d1a3.vsidx
.gitignore
.vs/Dg225-Team10_Project_Lobotomy/FileContentIndex/59333b1b-e3c4-4822-89d5-1499f6c002c5.vsidx
.vs/slnx.sqlite
.gitignore
.vs/VSWorkspaceState.json
